/Microkernel-common/target/
/Microkernel-mexicano-plugin/target/
/Microkernel-oriental-plugin/target/
/Microkernel-core/target/
/Restaurante-cliente/target/
/Restaurante-cliente/nbproject/
/Microkernel-tradicional-plugin/target/
/Microkernel-core-App/target/
/Microkernel-core-Dominio/target/
/Microkernel-core-Infra/target/
