/Microkernel-common/target/
/Microkernel-common/.*
/Microkernel-mexicano-plugin/target/
/Microkernel-mexicano-plugin/.*
/Microkernel-oriental-plugin/target/
/Microkernel-oriental-plugin/.*
/Restaurante-cliente/target/
/Restaurante-cliente/.*
/Restaurante-cliente/nbproject/
/Restaurante-cliente/lib/
/Restaurante-cliente/nbactions.xml
/Microkernel-tradicional-plugin/target/
/Microkernel-tradicional-plugin/.*
/Microkernel-core-App/target/
/Microkernel-core-App/.*
/Microkernel-core-App/nbactions.xml
/Microkernel-core-Dominio/target/
/Microkernel-core-Dominio/.*
/Microkernel-core-Infra/target/
/Microkernel-core-Infra/.*
